/* = Сброс отступов для всех элементов */
* { margin: 0; padding: 0 }

/* = Убираем маркировку списков */
ul, ol { list-style: none }

/* = Работаем с таблицами: убираем удвоение рамок ячеек и расстояние между ячейками */
table { border-collapse: collapse; border-spacing: 0 }

/* = Ссылки */
a { text-decoration: none; color: #323232 }
#full_text > a[href]{
	color:red;
	text-decoration: underline;
}
p{line-height: 1.5;}

/* = Убираем рамку для изображений */
img { border: none; max-width: 100%; height: auto; }

article, aside, figure, footer, header, hgroup, nav, section {display: block;}

hr{
	margin: 10px auto;
}
label{vertical-align: middle;}

*{
	-webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
	-moz-box-sizing: border-box;    /* Firefox, other Gecko */
	box-sizing: border-box;         /* Opera/IE 8+ */
}

html{
	font-family:Tahoma, Verdana, Helvetica, Geneva, sans-serif !important;
	-webkit-font-smoothing:antialiased; 
	text-rendering: optimizeSpeed;
}


body{
	
	color: #3E4156;
	font-weight: 800;
		
}

/* = Убираем обводку при клике на элементы форм и др. */
:focus { outline: 0 }

/* = Сбрасываем выравнивание после плавающих элементов */
.clear { clear: both; height: 1px; margin-top: -1px }


.login{
	background-image: url(../images/admin/adm_bg.jpg);
}
.login .message{
	background-color: #fff;
	background-color: rgba(255,255,255,.2); /* Прозрачный цвет */
}

/*==== LOGIN ====*/
.login_block{
	width: 320px;
	padding: 8% 0 0;
	margin: auto;
}
.login_block .message{
	margin-left: 0;
	padding: 12px;
}
.login .message {
border-left: 4px solid #7ad03a;
-webkit-box-shadow: 0 1px 1px 0 rgba(0,0,0,.1);
box-shadow: 0 1px 1px 0 rgba(0,0,0,.1);
}
.login form{
	background: #fff;
	background: rgba(255,255,255,.8);
	border-radius: 4px;
	color: #444;
	text-shadow: none;
}
.login form {
margin-top: 20px;
margin-left: 0;
padding: 26px 24px 46px;
font-weight: 400;
overflow: hidden;
-webkit-box-shadow: 0 1px 3px rgba(0,0,0,.13);
box-shadow: 0 1px 3px rgba(0,0,0,.13);
}

.login label{
	cursor: pointer;
}
.input{
	width: 100%;
	border-radius: 3px;
	text-shadow: none;
	border: 1px solid #ddd;
	-webkit-box-shadow: inset 0 1px 2px rgba(0,0,0,.07);
	box-shadow: inset 0 1px 2px rgba(0,0,0,.07);
	background-color: #fff;
	color: #333;
	outline: 0;
	-webkit-transition: .05s border-color ease-in-out;
	transition: .05s border-color ease-in-out;
	
}
.login input{
	font-size: 24px;
	padding: 5px;
}
.login input[type=text]:focus,
.login input[type=password]:focus{
	border-color: #5b9dd9;
	-webkit-box-shadow: 0 0 2px rgba(30,140,190,.8);
	box-shadow: 0 0 2px rgba(30,140,190,.8);
}

 .login form .input, .login input[type=text],
.login input[type=password] {
font-size: 24px;
width: 100%;
padding: 3px;
margin: 2px 6px 16px 0;
} 
.login input[type=submit]{
	background-color: #7AD03A;
	border: 1px solid #67BD27;
	border-radius: 3px;
	font-size: 16px;
	color: #fff;
	cursor: pointer;
}

.login #bottom{
	color: #fff;
	font-size: 14px;
	font-weight: 400;
	margin-top: 40px;
	margin-bottom: 20px;
}
.login #bottom a{
	font-size: 16px;
}